.app-loading .loading-bar
{
    display: block;
    -webkit-animation: shift-rightwards 1s ease-in-out infinite;
    -moz-animation: shift-rightwards 1s ease-in-out infinite;
    -ms-animation: shift-rightwards 1s ease-in-out infinite;
    -o-animation: shift-rightwards 1s ease-in-out infinite;
    animation: shift-rightwards 1s ease-in-out infinite;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}
.loading-bar
{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    z-index: 800;
    background: #60d778;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

@-webkit-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-moz-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-o-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }
}

button:focus {
    outline: 0 !important;
}

input:focus,
input:active,
label:focus,
label:active {
    outline: 0 !important;
}

textarea:focus,
input:focus {
    outline: 0;
}

strong {
    color: #777;
}

.icono{
    zoom: 0.5
}

.res:focus {
    outline: 0;
    border-color: #31b0d5;
    box-shadow: none;
}

*:focus {
    outline: 0;
}

input:focus {
    outline: none;
}

html {
    position: relative;
}

body {
    font-size: 12px;
}

::selection {
    background: #4096EE;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.muted {
    color: #CCC;
    margin-left: 10px;
    font-weight: 100;
}

.badge{
    position: relative;
    top: 1px;
    height: 14px;
    width: 10px;
    zoom: 0.7;
    margin-right: 10px;
}
.badge-success{
    background-color: green;
}

a#optionPage {
    transition: all .4s;
    -webkit-transition: all .4s;
    padding: 2px;
    border-radius: 2px;
    color: #808080;
    background-color: #f0f0f0;
}

a#optionPage:hover {
    color: #FFF;
    background-color: #808080;
    text-decoration: none;
}

.btn {
    border: 1px solid #BBB;
    font-size: 9px;
    margin-bottom: 25px;
}

.btn-default,
.btn-batch,
.btn-batchcopy {
    color: #818181;
    height: 21px;
    padding-top: 5px;
    line-height: 10px;
    -webkit-transition: all .4s;
}

.pull-right>.btn-batchcopy {
    color: #555;
    height: 30px;
    margin-right: 15px;
    padding: 3px 6px;
    line-height: 20px;
    border: 2px solid rgba(187, 187, 187, 0.5);
    -webkit-transition: all .4s;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
    border: 1px solid rgba(187, 187, 187, 0.5);
    padding: 10px;
    height: 28px;
    line-height: 6px;
}

.btn-group>.btn:focus,
.btn-group>.btn:active,
.btn-group>.btn.active {
    background-color: rgb(232, 232, 232);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    color: #868686;
}

.navbar-fixed-bottom {
    background-color: rgba(232, 232, 232, 0.65);
}

.https {
    color: black;
}

.https input {
    margin: 18px 0;
}

#https-label {
    font-weight: normal;    
}

.btn-batch {
    color: #555;
    height: 30px;
    padding: 3px 6px;
    line-height: 20px;
    margin: 10px 0;
    border: 2px solid rgba(187, 187, 187, 0.5);
    -webkit-transition: all .4s;
}

.btn-group>.btn-format:first-child {
    margin-left: 15px;
}

.link-item {
    margin-bottom: -15px;
}

.main {
    margin-top: 20px;
}

.batch-model {
    display: none;
}

.single-model {
    display: block;
}

.overflow {
    background: transparent;
    overflow: hidden;
}
figure {
    margin-top: 15px;
	width: 200px;
	height: 200px;
    overflow: hidden;
    padding: 0;
    background: transparent;
    border-radius: 10px;
}
.file-info {
    margin-top: 5px;
    display: none;
    color: #cdcdcd;
    font-size: 9px;
    padding: 2px 0 2px 10px;
}
.clicker {
    border: 5px dashed #FDFDFD;
    border-radius: 10px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #BBB;
    width: 200px;
    height: 200px;
    opacity: 1;
    object-fit: cover;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.clicker:hover {
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    opacity: 0.95;
    cursor: pointer;
    transform:scale(1.05);
    -webkit-filter: brightness(75%);
}

.batch-model img[class~=clicker] {
    width: 100%;
}

.batch-model div {
    text-align: center;
}

.batch-model div img[class~=dragger] {
    width: 200px;
}

.progress{
    width: 200px;
}
#single-progress{
    display: none;
}

.batch-model div[class=progress] {
    margin-top: 5px;
    height: 20px;
    margin-left: 5px;
}

.res {
    height: 30px;
    background-color: #FFF;
    cursor: default;
    position: relative;
    margin: 5px 5px 0px 0px;
    vertical-align: top;
    border: 2px solid rgba(187, 187, 187, 0.5);
    display: inline-block;
    padding: 4px 6px;
    line-height: 20px;
    color: #717171;
    font-size: 12px;
    cursor: default;
    box-shadow: none;
    border-radius: 5px;
}

.btn-copy {
    height: 30px;
    margin-top: 5px;
    border: 2px solid rgba(187, 187, 187, 0.5);
    margin-bottom: 20px;
}

li a {
    color: #909090;
    border-radius: 2px;
    padding: 0px 2px;
    -webkit-transition: all .6s;
}

li a:hover,
li a:active {
    text-decoration: none;
    color: #FFF;
    background-color: #999;
    outline: none;
}

.loader-wrap {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: -20px;
    padding-top: 25%;
    display: none;
}
/* Add this attribute to the element that needs a tooltip */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

span[data-tooltip] {
    margin-left: -50%;
}
/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -40px;
    padding: 7px;
    width: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.7);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 11px;
    line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.7);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.btn-batchcopy[data-tooltip]:before {
    bottom: -175%;
}

.btn-batchcopy[data-tooltip]:after {
    bottom: -50%;
    border-top: 0;
    border-bottom: 5px solid #000;
    border-bottom: 5px solid hsla(0, 0%, 20%, 0.7);
}

.fancybox-close {
    background-image: url('source/fancybox_sprite.png');
}

.fancybox-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}
/*Retina graphics!*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .fancybox-close {
        background-image: url('source/fancybox_sprite@2x.png');
        background-size: 44px 152px;
        /*The size of the normal image, half the size of the hi-res image*/
    }
}
